<main class="mt-8 mx-auto max-w-7xl px-4 sm:mt-12">
    <div class="text-center">
        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">FileBlazor</span>
            <span class="block text-indigo-600 xl:inline">Managed File Upload Example</span>
        </h1>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">ServiceStack's 
            <code class="bg-blue-50 text-blue-500 py-1 px-2 rounded">FileUploadFeature</code>
            provides an easy and flexible way to create API services backed by either popular cloud solutions like AWS S3, Azure Blob Storage, or your own file system. </p>
    </div>
</main>

<div class="relative py-16 bg-white overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
            <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"/>
            </svg>
            <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"/>
            </svg>
            <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)"/>
            </svg>
        </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
            <h1>
                <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">Introducing</span>
                <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">FileUploadFeature Plugin</span>
            </h1>
            <p class="mt-8 text-xl text-gray-500 leading-8">The FileUploadFeature plugin provides an easy and flexible solution to quickly create APIs services for uploading/downloading files to a variety of storage types which are explored in this demo.</p>
        </div>
        <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
            <figure class="m-2">
                <img class="w-full rounded-lg" src="/img/fileupload-config-plugin.png" alt="" width="1310" height="873">
                <figcaption>Configuration of IVirtualFiles and FileUploadPlugin.</figcaption>
            </figure>
            <p>By utilizing <strong>AutoQuery</strong> and <strong>Locode</strong> features, you also get a generated UI to use for back office staff or to use for prototyping. In this demo we configure three different storage types which integrate directly with your own database tables.</p>
            <ul role="list">
                <li>AWS S3 Bucket</li>
                <li>Azure Blob Storage Container</li>
                <li>Local Application File System</li>
            </ul>
            <figure class="m-2">
                <img class="w-full rounded-lg" src="/img/fileupload-datamodel.png" alt="" width="1310" height="873">
                <figcaption>Define your database tables to store file metadata.</figcaption>
            </figure>
            <p>The FileUploadFeature plugin uses the ServiceStack IVirtualFiles abstraction where multiple named providers can be used and referenced against your database model. Your own database stores metadata about each file including a reference to HTTP file path where the file where it can be downloaded.</p>
            <h2>Driven by your request DTOs</h2>
            <p>Your table data for the files in this demo are then shared using <strong>AutoQuery</strong> services. AutoQuery provides the overriable service implementation to manage this data, this is where you can link your FileUploadFeature to specific table data using the `UploadTo` attribute.</p>
            <figure class="m-2">
                <img class="w-full rounded-lg" src="/img/fileupload-create-dto.png" alt="" width="1310" height="873">
                <figcaption>Define your request Data Transfer Objects (DTOs) and use `UploadTo` with the related named UploadLocation.</figcaption>
            </figure>
            <h2>Upload Files Using Locode</h2>
            <p>ServiceStack Locode App integrates with the FileUploadFeature plugin to enable a way to manage your files straight away.</p>
            <figure>
                <img class="w-full rounded-lg" src="/img/locode-app-create-s3.png" alt="" width="1310" height="873">
                <figcaption>Instant upload form using Locode App.</figcaption>
            </figure>

            <h2>Overridable filters in the plugin</h2>
            <p>
                The UploadFeaturePlugin provides overridable options to better control upload/download rules. In this demo, `Public`, `Team` and `Private` files are stored in single table for each upload location.
                Access rules are confgiured for each of the upload locations independantly using the following plugin options.
            </p>

            <ul role="list">
                <li><strong>readAccessRole</strong> - Can limit read access to specific user roles.</li>
                <li><strong>resolvePath</strong> - Control how the upload path is created.</li>
                <li><strong>validateUpload</strong> - Filter upload requests.</li>
                <li><strong>validateDownload</strong> - Filter download requests.</li>
            </ul>

            <h2>Integrate API services with a custom UI</h2>
            <p>Since AutoQuery services are ServiceStack services, they benefit from being highly interroperable. This FileBlazor demo uses native Blazor components to upload to the generated API services providing a user friendly drag and drop interface.</p>
            <p>Navigate to the public <a href="/aws/public">S3</a>, <a href="/azure/public">Azure</a> or <a href="/filesystem/public">File System</a> file galleries on the left to preview files without authenticating, or <a>login</a> to see the different file access types and upload files yourself.</p>
            <div class="my-8 flex justify-center">
                <a href="https://github.com/NetCoreApps/FileBlazor" 
                   class="hover:text-black inline-flex no-underline hover:no-underline items-center px-6 py-3 border border-gray-300 shadow text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z" fill="currentColor"></path>
                        </g>
                    </svg><span class="mx-2">FileBlazor on GitHub</span>
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}
