@using FileBlazor.ServiceModel.Types
@inherits AppComponentBase

<div>
    <div class="relative mt-1">
        <InputText type="text" @bind-Value="searchVal" @oninput="OnInput"  class="w-full rounded-md border border-gray-300 bg-white py-2 pl-3 pr-12 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Search..." role="combobox" aria-expanded="false" aria-controls="options" />

        <button type="button" class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
            <!-- Heroicon name: solid/search -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
            </svg>
        </button>
    </div>
</div>

@code {
    private string searchVal = "";

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void OnInput(ChangeEventArgs e)
    {
        Console.WriteLine("OnInput");
        searchVal = (string)e.Value;
        OnSearch.InvokeAsync(searchVal);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

}